@font-face {
    font-family: 'DS-Digital';
    src: url('DS-Digital-BoldItalic.woff2') format('woff2'),
        url('DS-Digital-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

